Source: libnss-aad
Maintainer: Lucas Ramage <lramage@cyberninjas.com>
Section: admin
Priority: optional
Standards-Version: 3.9.8
Build-Depends:
 debhelper (>=9), libtool, libcjson-dev,
 libcurl4-openssl-dev, libjansson-dev, libjwt-dev,
 libsds-dev, libsodium-dev, libssl-dev, libxcrypt-dev
Vcs-Git: https://github.com/CyberNinjas/libnss_aad.git
Vcs-Browser: https://github.com/CyberNinjas/libnss_aad
Homepage: https://github.com/CyberNinjas/libnss_aad

Package: libnss-aad
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: nss module for Azure Active Directory
 Name Service Switch (NSS) Module for performing user lookups against the Azure Active Directory (AAD).
 .
